#!/usr/bin/env python3

import csv
import requests

# Constants

URL      = 'https://yld.me/raw/cwto'
POINTS   = None
MAX      = None
SECTIONS = (
    'Commands',
    'Shell and Files',
    'Processes and Networking',
    'Pipelines',
    'Shell Scripting',
    'Filters'
)

# Fetch data

# Compute individual scores

# Summarize score statistics

# Summarize section statistics
